* {
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-image: url(https://wallpapers.com/images/hd/n-b-a-legends-collage-m8fw2y4s07rddam8.jpg);
  background-size: contain;
  backdrop-filter: blur(8px);
}

.main-header-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  height: min-content;
}

.title {
  margin: 0;
  font-size: 36px;
  padding: 24px 16px 0 16px;
  font-weight: normal;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

aside {
  display: flex;
  flex-direction: column;
  color: #ecf0f1;
  padding: 16px 24px 24px 24px;
  gap: 24px;
  font-size: 20px;
  text-align: center;
}

aside select,
aside input {
  font-size: 18px;
  padding: 8px 16px;
  margin-top: -8px;
}

aside button {
  padding: 24px 0;
}

.add-player-btn {
  margin: 24px 0 12px 0;
  background-color: #68ba7f;
  border: 4px solid #ecf0f1;
}

.undo-delete-btn {
  background-color: #8697C4;
  border: 4px solid #ecf0f1;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 800px;
  gap: 50px 75px;
  padding: 50px;
  overflow-y: scroll;
}

dialog {
  background-color: #ecf0f1;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

.add-player-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-family: monospace;
}

.add-player-form input {
  font-size: 16px;
  text-align: center;
}

label[for="player-name-input"],
label[for="player-team-input"],
label[for="img-input"] {
  font-size: 20px;
  font-weight: bold;
}

.player-and-team-name-input-container {
  display: flex;
  gap: 24px;
}

#player-name-input,
#player-team-input,
#img-input {
  width: 100%;
}

.regular-season-stats-input-container,
.playoff-stats-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.regular-season-stats-input-container h2,
.playoff-stats-input-container h2 {
  margin-bottom: -2px;
}

.regular-season-stats-input-container input,
.playoff-stats-input-container input {
  display: block;
  width: 100px;
}

.regular-season-stats-input-container label,
.playoff-stats-input-container label,
.awards-input-container label {
  font-size: 18px;
  margin-bottom: -8px;
}

.player-stats-input-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.awards-input-container {
  display: flex;
  flex-direction: column;
}

.awards-input-container input {
  width: 100%;
  margin-top: 2px;
}

.mvp-dpoy-input-container,
.all-team-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.awards-input-container h2 {
  margin: 12px 0 6px 0;
}

.awards-input-container div {
  margin-bottom: 12px;
}

.dialog-add-btn,
.update-team-btn,
.update-player-awards-btn,
.update-regular-stats-btn,
.update-playoff-stats-btn {
  background-color: #68ba7f;
}

.update-team-btn,
.update-player-awards-btn,
.update-regular-stats-btn,
.update-playoff-stats-btn {
  margin: 16px 0 4px 0;
}

.dialog-cancel-btn {
  margin-left: 32px;
}

.dialog-add-btn:hover,
.dialog-cancel-btn:hover,
.update-team-btn:hover,
.cancel-update-team-btn:hover,
.update-player-awards-btn:hover,
.cancel-update-player-awards-btn:hover,
.update-regular-stats-btn:hover,
.cancel-update-regular-stats-btn:hover,
.update-playoff-stats-btn:hover,
.cancel-update-playoff-stats-btn:hover,
.add-player-btn:hover,
.undo-delete-btn:hover {
  filter: contrast(150%);
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  background-color: #ecf0f1;
  box-shadow: 4px 8px 4px 4px rgba(20, 22, 25, 0.5);
}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #ecf0f1;
  text-align: center;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.player-img-stats-container {
  position: relative;
  width: 100%;
  height: 650px;
}

.player-stats h2,
.player-team-title,
.regular-season-stats-title,
.playoffs-stats-title {
  font-size: 20px;
  color: black;
}

.mvp-count,
.dpoy-count,
.all-nba-count,
.all-defensive-count {
  font-size: 16px;
}

.player-stats-table th {
  font-size: 20px;
}

.font-size-16px {
  font-size: 16px;
}

.card img {
  width: 100%;
  height: 100%;
}

.player-name {
  padding: 10px;
  text-align: center;
  color: black;
}

.stats-awards-btn,
.delete-btn {
  padding: 5px 40px;
  box-shadow: 1px 2px 2px 2px #141619;
}

.stats-awards-btn {
  background-color: #68ba7f;
}

.stats-awards-btn:active,
.delete-btn:active {
  position: relative;
  top: 2px;
}

.add-player-btn:active, 
.undo-delete-btn:active {
  position: relative;
  top: 4px;
}

.stats-awards-btn:hover,
.delete-btn:hover {
  filter: contrast(150%);
}

.delete-btn {
  background-color: #CD1C18;
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.player-stats {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.player-stats-table {
  border-collapse: separate;
  border-spacing: 12px 16px;
}

.player-team-title,
.regular-season-stats-title,
.playoffs-stats-title {
  background-color: #ecf0f1;
  font-size: 20px;
  padding: 2px;
  position: relative;
}

.player-awards-title {
  background-color: #ecf0f1;
  margin: 0 12px;
  padding: 2px;
  position: relative;
}

.mvp-years,
.dpoy-years,
.all-nba-years,
.all-defensive-years {
  font-size: 12px;
  font-style: italic;
}

.edit-icon {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 16px;
}

.edit-icon:hover {
  cursor: pointer;
  color: #68ba7f;
}

.update-regular-stats,
.update-playoff-stats,
.update-player-awards {
  width: 300px;
}

.update-team-form input {
  font-size: 20px;
}

.update-team-form,
.update-regular-stats-form,
.update-playoff-stats-form,
.update-awards-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dialog-add-btn,
.dialog-cancel-btn,
.update-team-form button,
.update-regular-stats-form button,
.update-playoff-stats-form button,
.update-awards-form button {
  padding: 8px 32px;
}

.cancel-update-team-btn,
.cancel-update-regular-stats-btn,
.cancel-update-playoff-stats-btn,
.cancel-update-player-awards-btn {
  background-color: #8697C4;
}

.update-regular-stats-form input,
.update-playoff-stats-form input,
.update-awards-form input {
  text-align: center;
  font-size: 20px;
  width: 100px;
}

.update-regular-stats-form label,
.update-playoff-stats-form label,
.update-awards-form label {
  font-size: 18px;
}

.update-team-form label {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}